.navigation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FFFFFF;
    flex-grow: 0;
    gap: 24px;
    border-radius: 8px;
    height: 430px;
}

.select_link {
    cursor: pointer;
    color: black;
    font-weight: 400;
    text-decoration: none;
    min-width: 280px;
}

.active {
    font-weight: 700;
}

.logout{
    font-size: 1.1em;
    margin-top: 230px;
    color: #ff0000;
    font-weight: 500;
}