.books{
    grid-area: books;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100%;
    overflow-y: auto;
    flex-grow: 4;
}

.books::-webkit-scrollbar {
    width: 0;
}