.header {
    background: #000000;
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10%;

}

.text{
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.icon{
    margin: 0 10px;
}